<!DOCTYPE html>
<html>
<head>
  <title>Vasari</title>
  <%= stylesheet_link_tag    "vasari/application", media: "all" %>
  <%= javascript_include_tag "vasari/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
